@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kablammo&family=MuseoModerno:wght@200&family=Quicksand:wght@300&family=Staatliches&display=swap');

:root {
    --fondo: #fff;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido: 45px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Staatliches', cursive; */
    font-family: 'ROUGHER Personal Use', cursive;
    /* font-family: 'Banaue', sans-serif; */
    /* font-family: 'Raph Lanok Future', cursive; */

}
/*Preloader*/

.hidden {
    overflow: hidden;
}

.centrado {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #cef;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

/* fin del preloader */

/*  Estilos generales */

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background: url(/img/game-studio.png) no-repeat center center fixed;
    background-size: cover;
}


header {
    background: #f2f2f2;
    color: #1B1617;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    z-index: 10;
    box-shadow: 0px 0px 10px #F0EDE3;
}

nav {
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
}

.nav1 {
    background: transparent;
    height: 100px;
    color: #1B1617;
}

.nav2 {
    background: var(--fondo);
    height: 110px;
    color: #000;
}

.contenedor-nav {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
    overflow: hidden;
}

nav .enlaces a {
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 25px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: inherit;
}

nav .enlaces a:hover {
    border-bottom: 3px solid #1fde82;
    transition: 0.6s;
    color: #1fde82;
}


.logo img {
    width: 250px;
    align-items: center;
}

.icono {
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
}

/* fin del header */

/* Estilos de portada */

#portada {
    text-align: center;
    margin-top: 120px;
}

.logo-colores {
    width: 200px;
}

.logo-name {
    width: 50%;
}


#portada p {
    margin-top: 20px;
    font-size: 30px;
    color: #1D181B;
}

/* Estilos de servicios */

#servicios {
    width: 90%;
    margin-top: 50px;
    margin-left: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicio1 {
    background-color: rgba(0, 0, 0, 0.5);
    /* background: url(/Images/art-fondo.png) no-repeat center center fixed;
    background-size: cover; */
    color: #F05635;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
}

.servicio2 {
    background-color: rgba(0, 0, 0, 0.5);
    /* background: url(/Images/art-fondo.png) no-repeat center center fixed;
    background-size: cover; */
    color: rgba(32, 212, 62, 0.911);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 30px;
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
}

.servicio1:hover {
    box-shadow: 0px 4px 15px #F05635;
    transform: translateY(-10px);
    background: url(/img/game2-fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: background 2s ease;
}

.servicio2:hover {
    box-shadow: 0px 4px 15px rgba(32, 212, 62, 0.911);
    transform: translateY(-10px);
    background: url(/img/music-fondo.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: background 2s ease;
}

.servicio1 h2,
.servicio2 h2 {
    font-size: 45px;
    margin: 20px;
    text-align: center;
    padding-top: 100px;
}

.servicio1 a,
.servicio2 a {
    display: block;
    height: 150px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
    color: #F0EDE3;
}

.servicio1 a:hover,
.servicio2 a:hover {
    color: #1D181B;
}

/* .servicio1 a {
    background-image: url();
} */

/* .servicio2 a {
    background-image: url('/Images/FilmScoring.jpg');
} */

/* Transición de los servicios */
#servicios .servicio1,
#servicios .servicio2 {
    transition: transform 0.5s ease-in-out;
}

#servicios .servicio1:hover {
    transform: translateX(-10px);
}

#servicios .servicio2:hover {
    transform: translateX(10px);
}


/* Estilos para el pie de página */

/*Footer*/
footer {
    background: #e3e3e3;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    box-shadow: 0 0 10px 0 #F0EDE3;
}

.partFooter {
    width: 30%;
    text-align: center;

}

.partFooter h4 {
    color: #1F1C1D;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 30px;
}

.partFooter a {
    display: block;
    text-decoration: none;
    color: #977569;
    font-weight: 300;
    transition: color .3s ease-in-out;
    margin-bottom: 10px;
}

.partFooter a:hover {
    color: #F05635;
}

.partFooter img {
    width: 50%;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 5px;
    transition: all ease-in-out .3s;
    flex-direction: row;
}

.media {
    display: inline-block;
    justify-content: center;
    color: #977569;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 5px;
    transition: all ease-in-out .3s;
}

.media img {
    width: 100%;
}

.facebook:hover {
    background-color: #38569e;
    border-radius: 20%;
}

.linked:hover {
    background-color: #0a66d8;
    border-radius: 20%;
}

.insta:hover {
    background-color: #8d0055;
    border-radius: 20%;
}

.youtube:hover {
    background-color: #ff0202;
    border-radius: 20%;
}
.about-footer{
    font-size: 25px;
    font-weight: 300;
}

.pie{
    color: #5d6678;
    font-size: 30px;
}



/* Estilos para los divs en pantallas pequeñas */
@media screen and (max-width: 800px) {
    body{
        background-image: url(/img/back-studio.png);
        background-size: cover;
    }
    nav .enlaces a {
        color: #F0EDE3;
    }

    .nav2 {
        color: #fff;
    }

    .icono {
        display: block;
        cursor: pointer;
    }

    .enlaces {
        position: fixed;
        top: 80px;
        background: #0e1d2df6;
        left: 0;
        height: 100%;
        transition: 1s;
        width: 0;
        overflow: hidden;
    }

    .enlaces a {
        display: block;
        width: 100%;
        height: 50px;
        padding: 20px;
        text-align: center;
        color: #F0EDE3;
    }

    nav .enlaces a:hover {
        border-bottom: 3px solid #F05635;
        transition: 0.6s;
        color: #F05635;
    }

    #portada p{
        color: #1B1617;
    }

    #servcios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .servicio1, .servicio2 {
    width: 80%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Footer */
    footer {
        justify-content: space-evenly;
    }

    .partFooter {
        width: 40%;
        margin-bottom: 40px;
    }

    footer p {
        margin: 10px;
    }
}

@media screen and (max-width:600px) {

    #servicios{
        margin-left: 18px;
    }
    .logo-colores{
        width: 50%;
    }
    .logo-name{
        width: 80%;
    }
    /* footer */
    .partFooter {
        width: 95%;
        margin-bottom: 40px;
    }

    footer p {
        margin-left: 12px;
    }
}